/*****************************************INDEX*****************************************/
body{
    background-color: #fafafa;
    min-width: 100vh;
}

.main{
    display: flex;
}

.image img{
    width: 576px;
    height: 576px;
    border-radius: 50%;
    margin-top: 72px;
    margin-left: 166px;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
}

.image1 img{    
    left: 906px;
    width: 272px;
    height: 58px;
    opacity: 1;
    margin-top: 106px;
    margin-left: 164px;
}

.text .text1{
    width: 500px;
    height: 100px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    margin-right: 155px;
    margin-left: 163px;
    margin-top: 19.17px;
    margin-bottom: 31.87px;
}

span{
    color: #C8242F;
    height: 53px;
    width: 137px;
    
}

.text2{
    text-align: left;
    font: normal normal 300 25px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    margin-left: 162px;
    margin-bottom: 23.45px;
}

.text3{
    margin-left: 164.5px;
    margin-bottom: 27px;
}

.image1 input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    width: 429px;
    height: 49px;
    opacity: 1;
    padding-left: 14px;
}

.text4{
    margin-left: 164.5px;
}

.text5 button{
    font-size: 18px;
    color: white;
    margin-top: 30.5px;
    margin-left: 164px;
    width: 138px;
    height: 45px;
    background: #C8242F;
    border-radius: 25px;
    border-width: 0px;
}

.text5 a{
    text-decoration: none;
}

.text7 a{
    margin-top: 14.13px;   
    color: #C8242F;
    text-decoration: none;
}

.text5{
    display: flex;
    font:15px/20px Roboto;
}

.text5 .text6{
    margin-top: 42.63px;
    margin-left: 170px;
    width: 121px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.text7{
    display: flex;
    margin-top: 23.13px;
    margin-right: 494px;
    margin-left: 164px;
    width: 500px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

/*****************************************DASHBOARD*****************************************/
.headerbar{
    position: fixed;
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    width: 1560px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
}

.menubar-icon{
    margin-top: 28px;
    margin-left: 29px;
    width: 18px;
    height: 12px;
    opacity: 1;
}

.company-icon{
    margin-top: 25px;
    margin-left: 25px;
    width: 142px;
    height: 30px;
    opacity: 1;
}

.search-icon{
    margin-top: 31.67px;
    margin-left: 76.67px;
    width: 16px;
    height: 16px;
    opacity: 1;
}

.search-text{
    margin-top: 14px;
    margin-left: 14.75px;
    font: normal normal normal 16px/21px Roboto;
    color: #000000;
    opacity: 1;
}

.notification-icon{
    padding-top: 28.28px;
    margin-left: 924.2px;
    width: 22px;
    height: 21px;
    opacity: 1;
}

.profile-icon{
    margin-top: 18px;
    margin-left: 52.28px;
    width: 44px;
    height: 44px;
    opacity: 1;
}

.unametext{
    margin-top: 14px;
    margin-left: 12px;
    width: 68px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.downarrow-icon{
    margin-top: 30.5px;
    margin-left: 14.54px;
    width: 10px;
    height: 6px;
    opacity: 1;
}

.sidebar{
    display: flex;
    margin-top: 80px;
    margin-left: 0px;
    width: 242px;
    height: 1279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}